.contact{
    margin: 80px 40px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contact-col{
    flex-basis: 48%;
    color: #676767;   
}
.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
}
.contact-col p{
    max-width: 450px;
    line-height: 1.3;
    margin: 10px 0;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 0;
    outline: 0;
}
.contact-col span{
    display: block;
    margin: 20px 0;
}


@media (max-width: 650px){
    .contact{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .contact-col{
        align-items: center;
        justify-content: center;
    }
}